@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .box-container {
    @apply w-full !bg-[#ffffff82];
  }

  .text-bg-primary-color {
    @apply text-[#ccc2b8];
  }

  .text-secondary-color {
    @apply text-[#b4a094];
  }

  .bg-primary-color {
    @apply bg-[#ccc2b8];
  }

  .bg-secondary-color {
    @apply bg-[#b4a094];
  }

  .bg-third-color {
    @apply bg-[#927b69];
  }

  .bg-fourth-color {
    @apply bg-[#927b69];
  }
}

body {
  background-image: url(../public/bg-wave.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-common {
  @apply disabled:bg-gray-400 transition-all duration-300 rounded-lg shadow-sm text-white bg-secondary-color hover:!bg-[#927b69];
}
